<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="js/fontawesome-all.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-bg-warning py-2 rounded text-center my-1 mt-3">Employee Details</h1>
                <div class="table-responsive">
                    <table class="table table-striped text-center mt-4">
                        <thead class="text-bg-dark">
                            <tr>
                                <th>SL No</th>
                                <th>Employee Name</th>
                                <th>Department</th>
                                <th>Salary</th>
                                <th>Designation</th>
                                <th>Employee_type</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>MD Kaium</td>
                                <td>Diploma in Web</td>
                                <td>35000</td>
                                <td>Course Coordinator</td>
                                <td>Manager</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>MD Mamun</td>
                                <td>Diploma in Web</td>
                                <td>35000</td>
                                <td>Course Coordinator</td>
                                <td>Manager</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>MD Shohidul</td>
                                <td>Diploma in Web</td>
                                <td>35000</td>
                                <td>Course Coordinator</td>
                                <td>Manager</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>MD Mosarrof</td>
                                <td>Diploma in Web</td>
                                <td>35000</td>
                                <td>Course Coordinator</td>
                                <td>Manager</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



